RAG Pipeline & Chatbot.json
{
  "name": "RAG Pipeline & Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1uj5m4HXBD3Thawsx0A3quRgDOpqCgEpD",
          "mode": "list",
          "cachedResultName": "DEMO",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1uj5m4HXBD3Thawsx0A3quRgDOpqCgEpD"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        144
      ],
      "id": "9b2493ee-592f-4c14-bed3-1a7afdd7468a",
      "name": "Google Drive Trigger",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VmgjTf88VmDntSQj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        144
      ],
      "id": "803e0d78-40df-44ac-8b79-c671d660eae6",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VmgjTf88VmDntSQj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "AI"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        96,
        144
      ],
      "id": "4ad3eeb7-149f-4a6a-975e-1cd2c7dc03fa",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "GRsYHQ2NeygCanl2",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        192,
        384
      ],
      "id": "51d3dc57-c883-47de-99a8-58126032206d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        208,
        608
      ],
      "id": "a8646312-e5e9-4559-9814-1bb87390d83f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are supposed to strictly access the data from Pinecone Vector Store1 and give the output based on the given prompt."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        736,
        192
      ],
      "id": "eaa5d4c8-f0a8-4af8-9f7c-c0d8f47087f5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        528,
        192
      ],
      "id": "d483ac28-4323-4d2c-961a-7192230ddf5e",
      "name": "When chat message received",
      "webhookId": "b3e24a69-788c-4c58-9bc9-eba6bc589098"
    },
    {
      "parameters": {
        "model": "openai/gpt-3.5-turbo",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        720,
        416
      ],
      "id": "ed05456d-c46d-4d4f-b254-322eb46e5fbc",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "edkEZJ3PrHG1ET90",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access the AI database",
        "pineconeIndex": {
          "__rl": true,
          "value": "=demo",
          "mode": "id"
        },
        "options": {
          "pineconeNamespace": "AI"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        944,
        432
      ],
      "id": "79f61bfc-2bee-46db-b64c-bd7d54123f0e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "GRsYHQ2NeygCanl2",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "codestral-embed",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        -32,
        416
      ],
      "id": "d95316eb-002c-4c2a-896e-e28831fc428f",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "FNY0ZY3iRS5nLVOP",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "codestral-embed",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        896,
        624
      ],
      "id": "1a7d5892-48de-4f49-bcd6-7134ddd33d74",
      "name": "Embeddings Mistral Cloud1",
      "credentials": {
        "mistralCloudApi": {
          "id": "FNY0ZY3iRS5nLVOP",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8d47c0a-8553-4dcc-8ea4-efa0cf214ab4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "634b9eb8253ba72c6d98b47568a1ace429ea8d4d2818ee0bfbd32b6c02492fa6"
  },
  "id": "kDHOyQa15ZYzIjdb",
  "tags": []
}